chardet==5.2.0
comtypes==1.4.5
lxml==5.2.2
pillow==10.4.0
pyautocad==0.2.0
pypdf==4.2.0
python-docx==1.1.2
reportlab==4.2.2
typing_extensions==4.12.2
docxtpl~=0.17.0
transliterate~=1.10.2
tkScrolledFrame~=1.0.4
docx2pdf~=0.1.8
tqdm~=4.66.4
patool~=1.12
openpyxl~=3.1.5
